.header {
  height: 88vh;
  background-image: linear-gradient(
    to right bottom,
    $color-header-1,
    $color-header-2
  );
  clip-path: polygon(0% 0, 100% 0%, 100% 80%, 80% 95%, 0% 80%);
  background-size: cover;
  background-position: top;
  position: relative;

  @include respond(tab-port) {
  clip-path: polygon(0% 0, 100% 0%, 100% 80%, 80% 90%, 0% 80%);
  margin-bottom: 4rem;
  }
  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
    margin-bottom: 0;
  }
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    margin-right: 4rem;
    margin-left: -4rem;
    @include respond(tab-land) {
      margin-left: 0;
      margin-right: 2rem;
    }
    @include respond(tab-port) {
        margin-top: -8rem;
        margin-left: 0;
    }
    @include respond(phone) {
        margin-left: 4rem !important;
        margin-right: 0 !important;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include respond(tab-land) {
      width: 90%;
    }
    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
      left: 45%;
      margin-top: 5rem;
    }
    

  }

  &__camera {
    width: 40rem;
    flex: 0 1 35%;
animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;

    @include respond(tab-land) {
      width: 35rem;
      flex: 0 1 40%;
    }

    @include respond(tab-port) {
      width: 35rem;
      flex: 0 1 40%;
    align-self: flex-end;
    }

    @include respond(phone) {
        width: 30rem;
    }
  }
}
