.composition--image {
    width: 60rem;
    height: auto;
    margin-top: -10rem;
    @include respond(tab-land) {
        width: 50rem;
        margin-top: -5rem;
    }
    @include respond(tab-port) {
        width: 50rem;
        margin-top: -2rem;
        margin-bottom: 1rem;
    }
    @include respond(phone) {
        width: 40rem;
    }
}

.quote {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 20;
    padding: 1rem;
    margin-bottom: 2rem;
    &-text {
        font-size: 4rem;
        font-weight: 300;
        font-style: italic;
    }
}

.quote::before {
    content: "\201C";
    position: absolute;
    top: -4.75rem;
    left: -4.25rem;
    line-height: 1;
    font-size: 20rem;
    color: $color-primary-dark;
    font-family: 'Lato';
    z-index: 1;
}

.quoter {
    align-self: flex-end;
    font-size: 1.6rem;
}

.comp__text {
    flex: 0 0 40%;
    @include respond(tab-port) {
        width: 50%;
        margin-top: 8rem;
    }
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
