.event {
  &-wrapper {
    display: flex;
    justify-content: space-evenly;
    max-width: $grid-width;
    margin: 0 auto;
    @include respond(tab-land) {
      flex-direction: column;
      align-items: center;
      width: 80%;
    }
    @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
  }
  &-1 {
    background-image: linear-gradient(
        180deg,
        transparent 60%,
        rgba(0, 0, 0, 0.1) 60%,
        rgba(0, 0, 0, 0.35) 78%,
        rgba(0, 0, 0, 0.5) 88%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url("../img/capture-1.jpg");
  }

  &-2 {
    background-image: linear-gradient(
        180deg,
        transparent 50%,
        rgba(0, 0, 0, 0.1) 60%,
        rgba(0, 0, 0, 0.35) 78%,
        rgba(0, 0, 0, 0.5) 88%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url("../img/capture-2.jpg");
      @include respond(tab-land) {
          margin-top: 5rem;
      }
  }

  &-heading {
    text-align: center;
    color: $color-primary;
    display: inline-block;
    padding: 0.5rem 4rem;
    border-radius: 4px;
    font-weight: 300;
    background-color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: -10rem;
    margin-bottom: -2rem;

    @include respond(tab-port) {
      margin-top: -6rem;
    }
  }

  width: 50rem;
  @include respond(tab-land) {
      width: 50rem;
  }

  height: 27rem;
  background-size: cover;
  backface-visibility: hidden;
  display: flex;
  border-radius: 8px;
  align-items: flex-end;

  &-text {
    color: $color-white;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    font-size: 3.2rem;
    letter-spacing: 1px;
    word-spacing: 5px;
    display: flex;
    flex-direction: column;

    & h4 {
      font-weight: 400;
      margin-bottom: 5px;
    }
  }

  &:hover {
    transform: translateY(-1%);
    box-shadow: 0 1rem 2.2rem rgba(0, 0, 0, 0.28);
  }

  transition: all 0.2s;
}

.event-more {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 1rem;
}

.event-btn {
  text-decoration: none;
  color: inherit;
  position: relative;
  &::after {
    content: "";
    width: 0;
    background-color: white;
    height: 2px;
    position: absolute;
    top: 105%;
    left: 1%;
    transition: all 0.2s;
  }

  &:hover::after {
    width: 100%;
  }
}
