.section-about {
  background-color: $color-grey-light-1;
  //    background-image: url(../img/warm-mountain.jpg);
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    overflow: hidden;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.22),
      rgba(0, 0, 0, 0.22)
    ),
    url("../img/pattern.png");
  // background-image: linear-gradient(
  //     to right bottom,$color-primary-light,$color-primary-dark);

  // background-size: cover;
  // background-position: 0 50%;
  // background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 100% 10%, 100% 95%, 0% 100%);
  //transform: skewY(7deg);
  margin-top: -14rem;

  @include respond(tab-port) {
    padding: 10rem 0;
    margin-top: -20rem;
    clip-path: polygon(0% 0%, 100% 5%, 100% 95%, 0% 100%);
  }

  @include respond(tab-land) {
    clip-path: polygon(0% 0%, 100% 5%, 100% 95%, 0% 100%);
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-header-1,
    $color-header-2
  ); // background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary);
  // background-image: url(../img/warm-mountain.jpg);
  // background-attachment: fixed;
  // background-position: 0 40%;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-gallery {
  padding-top: 8rem;
  margin-top: -8rem;
  background-color: $color-grey-light-1;
}

.book {
  margin: 0 auto;
  max-width: 80%;
  background-image: linear-gradient(
      90deg,
      rgba($color-white, 0.8) 0%,
      rgba($color-white, 0.8) 45%,
      transparent 45%
    ),
    url(../img/warm-mountain.jpg);
  background-size: cover;
  background-position: 20%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  @include respond(tab-land) {
    background-image: linear-gradient(
        90deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.7) 55%,
        transparent 55%
      ),
      url(../img/warm-mountain.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.7) 70%,
        transparent 70%
      ),
      url(../img/warm-mountain.jpg);
  }
  @include respond(phone) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.7) 80%,
        transparent 80%
      ),
      url(../img/warm-mountain.jpg);
    max-width: 90%;
  }
  &__form {
    width: 45%;
    padding: 5rem 4rem;

    @include respond(tab-land) {
      width: 55%;
    }

    @include respond(tab-port) {
      width: 70%;
    }
    @include respond(phone) {
      width: 80%;
    }
  }
}
